
/****************************************************************************************************************
*****************************************************************************************************************
*****************************************************************************************************************
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
******                                      Universal Selector                                             ******
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
*****************************************************************************************************************
*****************************************************************************************************************
****************************************************************************************************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/****************************************************************************************************************
*****************************************************************************************************************
*****************************************************************************************************************
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
******                                          Clearfix                                                   ******
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
*****************************************************************************************************************
*****************************************************************************************************************
****************************************************************************************************************/
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/****************************************************************************************************************
*****************************************************************************************************************
*****************************************************************************************************************
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
******                                          Elements                                                   ******
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
*****************************************************************************************************************
*****************************************************************************************************************
****************************************************************************************************************/

body{
	font-family:'Courier New', Courier, monospace;
	font-size: 120%;
    color: white;
    background-image: url("../images/ECbackground.jpg");
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
    padding-top: 2em;
    padding-left: 2em;
}

.youth {
    float: right;
}

.youth h2 {
    float: right;
    padding-right: 10em;
}

.youth img {
    float: right;
    height: 33%;
    width: 33%;
    padding-top: 2.5em;
}

/****************************************************************************************************************
*****************************************************************************************************************
*****************************************************************************************************************
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
******                                          Sidebar Menu                                               ******
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
*****************************************************************************************************************
*****************************************************************************************************************
****************************************************************************************************************/
.bookmarks {
	float: left;
	width: 12%;
	margin: 10em 2em 0 3em;
	position: -webkit-sticky;
	position: sticky;
	top: 100px;
}
.bookmarks ul {
	list-style: none;
	width: 95%;
	margin: 2em 0 0;
}
.bookmarks ul li {
	margin: 0 1em 3px 0;
	transition: all .5s;
}
.bookmarks ul li a {
	padding: .5em .5em;
	display: block;
	background-color: #404040;
	border: 1px solid #808080;
	color: white;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	margin-left: 0;
	transition: all .5s;
}
.bookmarks ul li a:hover {
	background-color: black;
	color: gold;
	border: 1px solid gold;
}
.bookmarks ul li:hover {
	margin: 0 0 3px 1em;
}

/****************************************************************************************************************
*****************************************************************************************************************
*****************************************************************************************************************
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
******                                          Scroll-to-top Button                                       ******
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
*****************************************************************************************************************
*****************************************************************************************************************
****************************************************************************************************************/
#myBtn {
	display: none; /* Hidden by default */
	width: 88%;
	z-index: 99; /* Make sure it does not overlap */
	border: 1px solid #808080;
	outline: none; /* Remove outline */
	background-color: #404040; /* Set a background color */
	color: white; /* Text color */
	font-weight: bold;
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: .5em .5em;
	margin: 0 1em 3px 0;
	text-align: left;
	transition: all .5s;
	font-family: 'Nova Square', cursive;
	font-size: 100%;
	border-radius: 5px;
}
#myBtn:hover {
	background-color: black;
	color: gold;
	margin: 0 0 3px 1em;
	border: 1px solid gold;
}
#cornerBtn {
	display: none; /* Hidden by default */
	position: fixed;
	left: 5px;
	bottom: 150px;
	z-index: 99; /* Make sure it does not overlap */
	border: 1px solid black;
	outline: none; /* Remove outline */
	font-weight: bold;
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: .5em .5em;
	margin: 0 1em 3px 0;
	font-family: 'Nova Square', cursive;
	font-size: 100%;
	border-radius: 5px;
	background-color: rgba(0,0,0,.6);
	color: white;
	transition: all .5s;
}
#cornerBtn:hover {
	background-color: rgba(0,0,0,1);
	color: red;
	border: 1px solid red;
}

/****************************************************************************************************************
*****************************************************************************************************************
*****************************************************************************************************************
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
******                                          Footer                                                     ******
******                                                                                                     ******
******                                                                                                     ******
******                                                                                                     ******
*****************************************************************************************************************
*****************************************************************************************************************
****************************************************************************************************************/
footer {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 3em 0;
	background-color: #404040;
	border-top: 3px ridge #f0f0f5;
}
footer p {
	font-size: 90%;
	font-weight: bold;
	text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
	font-variant: small-caps;
	text-align: center;
}